<%- include('../partials/adminheader') %>

<div class="container tm-mt-big tm-mb-big">
  <div class="row">
    <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
      <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
        <div class="row">
          <div class="col-12">
            <h2 class="tm-block-title d-inline-block">Add Product</h2>
          </div>
        </div>
        <div class="row tm-edit-product-row">
          <div class="col-xl-12 col-lg-12 col-md-12">
            <form action="/admin/add-product" method="POST" enctype="multipart/form-data" class="tm-edit-product-form">
              <div class="form-group mb-3">
                <label for="name">Product Name</label>
                <input id="name" name="name" type="text" class="form-control validate" required />
              </div>
              <div class="form-group mb-3">
                <label for="description">Description</label>
                <textarea id="description" name="description" class="form-control validate" rows="3" required></textarea>
              </div>
              
              <div class="row">
                <div class="form-group mb-3 col-xs-12 col-sm-6">
                  <label for="category">Category</label>
                <select id="category" name="category" class="custom-select tm-select-accounts">
                  <option selected>Select category</option>
                  <option value="659e4ec292b59af0e79ed5fb">Men</option>
                  <option value="659e4eeb92b59af0e79ed5fc">Women</option>
                  <option value="659e4eff92b59af0e79ed5fd">Kids</option>
                  <option value="659e4f1c92b59af0e79ed5fe">Accessories</option>
                </select>
                </div>
                <div class="form-group mb-3 col-xs-12 col-sm-6">
                  <label for="image">Product Image</label>
                  <input id="images" name="images" type="file" class="form-control validate" required multiple/>
                </div>
              </div>
              <div class="row">
                <div class="form-group mb-3 col-xs-12 col-sm-6">
                  <label for="stock">Units In Stock</label>
                  <input id="inStock" name="inStock" type="number" class="form-control validate" required min="0" oninput="validity.valid||(value='');">
                </div>
                <div class="form-group mb-3 col-xs-12 col-sm-6">
                  <label for="price">Price</label>
                  <input id="price" name="price" type="text" class="form-control validate" required />
                </div>
              </div>
              <div class="row">
                <div class="form-group mb-3 col-xs-12 col-sm-6">
                <label for="color">Color</label>
                <select id="color" name="color" class="custom-select tm-select-accounts">
                  <option selected>Select color</option>
                  <option value="red">Red</option>
                  <option value="blue">Blue</option>
                  <option value="green">Green</option>
                  <!-- Add other color options -->
                </select>
              </div>
            
                <div class="form-group mb-3 col-xs-12 col-sm-6">
                <label for="size">Size</label>
                <select id="size" name="size" class="custom-select tm-select-accounts">
                  <option selected>Select size</option>
                  <option value="S">Small</option>
                  <option value="M">Medium</option>
                  <option value="L">Large</option>
                  <!-- Add other size options -->
                </select>
              </div>
              </div>
              <div class="row">
             
              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block text-uppercase">Add Product Now</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/adminfooter') %>
