<%- include('../partials/adminheader') %>

<div class="container">
  <div class="row">
    <div class="col">
      <p class="text-white mt-5 mb-5">Welcome back, <b>Admin</b></p>
    
      <div class="row tm-content-row">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col ">
            <div class="tm-bg-primary-dark tm-block">
                <h2 class="tm-block-title">Sales Chart</h2>
                <!-- Move the script here to ensure it's after the canvas -->
                <canvas id="barChart"></canvas>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/adminfooter') %>

<!-- Include Chart.js library -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
const width_threshold = 480;
const salesData = <%= JSON.stringify(salesData) %>;
function drawBarChart() {
  if ($("#barChart").length) {
    ctxBar = document.getElementById("barChart").getContext("2d");
    optionsBar = {
      scales: {
        yAxes: [{
          ticks: {
            fontColor: 'white', // Set font color for y-axis labels
            beginAtZero: true
          },
          gridLines: {
            color: 'rgba(255, 255, 255, 0.2)' // Set color for y-axis grid lines
          },
          scaleLabel: {
            display: true,
            labelString: "Sales",
            fontColor: 'white' // Set font color for y-axis label
          }
        }],
        xAxes: [{
          ticks: {
            fontColor: 'white' // Set font color for x-axis labels
          },
          gridLines: {
            color: 'rgba(255, 255, 255, 0.2)' // Set color for x-axis grid lines
          },
          scaleLabel: {
            display: true,
            labelString: "Month",
            fontColor: 'white' // Set font color for x-axis label
          }
        }]
      }
    };

    // Set aspect ratio based on window width
    optionsBar.maintainAspectRatio =
      $(window).width() < width_threshold ? false : true;
    
    configBar = {
      type: "bar",
      data: {
        labels: [
          "January",
          "February",
          "March",
          "April",
          "May",
          "June",
          "July",
          "August",
          "September",
          "October",
          "November",
          "December"
        ],
        datasets: [{
          label: "Sales",
          data: salesData,
          backgroundColor: "rgba(75, 192, 192, 0.8)", // Set background color for bars
          borderWidth: 1 // Set border width
        }]
      },
      options: optionsBar
    };

    barChart = new Chart(ctxBar, configBar);
  }
}

// Call drawBarChart after DOM has fully loaded
$(document).ready(function() {
  drawBarChart();
});
</script>
