
      
      <%- include('../partials/header') %>
      <section class="bg0 p-t-104 p-b-116">

      <div class="container mt-5 text-center">
        <section class="bg0 p-t-23 p-b-140 ">
      <h1>Your Shopping Cart is Empty</h1>
      <div class="container mt-2">
        <section class="bg0 p-t-23 m-b-20">
      
      <p>Explore our products and start adding items to your cart!</p>
     <a href="/user/product?categoryId="> <button style="color: rgb(0, 85, 255);">Shop Now</button></a>
      
</section>
</div>
      </section>
      </div>
    </section>
      <%- include('../partials/footer') %>
     
      </div>