<!-- Header -->
<%- include('../partials/header') %>

<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-02.jpg');">
    <h2 class="ltext-105 cl0 txt-center">
        Forgot Password
    </h2>
</section>

<!-- Content page -->
<section class="bg0 p-t-104 p-b-116">
    <div class="container">
        <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
            <!-- Your forgot password form can go here -->
            <form action="/user/forgot-password" method="post">
                <h4 class="mtext-105 cl2 txt-center p-b-30">
                    Enter Your Email
                </h4>

                <!-- Add your forgot password form fields here -->
                <div class="bor8 m-b-20 how-pos4-parent">
                    <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="email" name="email" placeholder="Email">
                </div>

                <button type="submit" class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
                    Reset Password
                </button>
            </form>
        </div>
    </div>
</section>

<!-- Footer -->
<%- include('../partials/footer') %>
