<%- include('../partials/header') %>


<div class="container mt-5">
    <section class="bg0 p-t-23 p-b-140 mt-5">
         <div class="container mt-5">
            
            <div class="p-b-10 text-center">
                <h2 >
                    Thank You for Your Purchase! 
                    <p>Your payment was successful. We appreciate your business.</p>
                </h2>
            </div>
        
            </div>
            </section>
            </div>
    


<%- include('../partials/footer') %>